a {
    text-decoration: none;
    font-size: 3.5rem;
    text-align: none;
  }
  ul{
    list-style: none;
  }
  .success,.error {
    color: white;
    padding: 10px;
    margin: 10px 0 15px 0;
    font-size: xx-large;
    text-align: center;
  }
  .success{
      background: green;
  }
  .error{
      background: red;
  }
  .book-card {
    border: 1px solid #d61616;
    display: flex;
    margin:1rem;
    padding: 1rem;
  }
  .books-container{

    grid-template-columns: auto auto auto;
  }
  .book-image {
    width: 150px;
    height: 70%;
    margin-right: 10px;
  }
  .book-details {
    flex: 1;
  }
  .book-title {
    font-size: 24px;
    margin: 0;
  }
  
  .delete {
    color: red;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto;
  }
  
  /* Style for the "Remove" link */
  .delete:hover {
    text-decoration: underline;
  }
  body{
    width: 100vw;
    background: #0eb5e7;

  }

   .full-width span{
    background-color: rgb(21, 23, 23);
  }
  #bookForm{
  width: 80%;
    display: grid;
    grid-template-columns: auto auto ;
    gap: 1rem;
  }
.u-full-width.sub {
  background-color: #1778b9;
  color: #bbb;
  font-weight: bold;
}
h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.delete {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #f71212;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
/login/
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e4e3e0;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin: 0 0 20px;
}

.login-container label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

#login-form {
    display: flex;
    flex-direction: column;

}

.login-container input {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-container button {
    width: 250px;
    background-color: #0074D9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.login-container .error-message {
    color: red;
    margin: 10px 0;
}